header {
  margin-top: 120px;
  padding-top: 15px;
  height: 400px;
  width: 100%;
  position: absolute;
  background-color: 00fff2; 
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
}

