nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  z-index: 1;
  background-color: #4056A1 ;
  color: #FFFFFF ;
  font-family: 'Bungee';
  padding: 1.5em
}

#toggles:hover {
  color: black;
  cursor: pointer;
}

.composeButton {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.scr {
  display: flex;
  align-items: center;
}