textarea {
  width: 100%;
  background-color: inherit;
  overflow: hidden;
  border: none;
  resize: none;
  border-bottom: 4px solid black;
}

.button {
  background-color: #4056A1;
  font-family: 'Bungee';
  font-size: 24px;
  color: white;
}

.counter {
  font-family: 'Bungee';
  float: right;
}

.fontRed {
  color: red;
}

#errorMsg {
  /* border: solid; */
  border: 4px solid red;
  text-align: center;
  margin-top: 5%;
  padding: 3%;
  display: none;
  color: red;
  font-weight: bold;
  transition: 0.2s;

}